* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

header {
    text-align: center;
    font-family: "Courier New" ,sans-serif;
    font-size: 20px;
    color: lightgray;
    text-shadow: 6px 6px 32px rgba(255,255,255,0.6);

}

nav {
    background-image: url("workinpro.gif");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 50vw;
    margin-left: 500px;


}


@media screen and (max-width: 640px) {
    * {
        box-sizing: border-box;
    }

    /*html {*/
    /*    width: 640px;*/
    /*}*/
    /*section {*/
    /*    width: 640px;*/
    /*}*/
    header {
        text-align: center;
        font-family: "Courier New", sans-serif;
        font-size: 10px;
        color: lightgray;
        text-shadow: 6px 6px 32px rgba(255, 255, 255, 0.6);
    }

    nav {
        background-image: url("workinpro.gif");
        background-size: cover;
        display: flex;
        justify-content: center;
        height: 40vh;
        width: 100vw;
        margin-left: 5px;

    }

    img {
        display: none;
    }

}