* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

nav {
     display: flex;
     justify-content: space-between;
     padding: 15px 300px 12px;
     align-items: center;
     font-family: "Courier New" ,sans-serif;
     height: 80px;
     font-size: 15px;
}

.navbarLogo img {
     height: 200px;
     width: 100px;
}

a {
     text-decoration: none;
     color: white;
}

a:hover {
     text-decoration: underline;
}

.navbar a {
     font-size: larger;
     font-weight: bold;
     padding-right: 40px;
     color: white;
}

.name {
     color: white;
}

header {
     background-image: url("header.gif");
     background-size: contain;
     height: 700px;
     color: white;
     padding: 180px;
}

.headerTitle {
     font-size: 80px;
     font-family: "Courier New", serif ;
     text-shadow: 5px 1px 5px black;
     padding-left: 115px;
}

.headerParagraph {
     font-size: xx-large;
     font-family: "Courier New" ,serif;
     font-weight: bold;
     text-shadow: 10px 10px 10px black;
     padding-left: 118px;
}

.mailMeLink {
     font-size: 20px;
     font-family: "Courier New" ,serif;
     color: white;
     font-weight: bold;
     padding-left: 118px;
}

.gitlink {
     font-size: 20px;
     font-family: "Courier New" ,serif;
     color: white;
     font-weight: bold;
}

.gtkm {
     font-size: 20px;
     font-family: "Courier New" ,serif;
     font-weight: bold;
     color: white;
     margin-left: 1rem;
}

section {
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100vw;
    color: white;
}

.aboutMeFlexContainer {
    color: white;
    padding-bottom: 20%;
}

.headerAboutMeFlexContainer {
    font-size: 50px;
    padding-top: 3rem;
    font-family: "Courier New" ,serif;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.profilepic {
    width: 400px;
    border-radius: 40%;
    padding-bottom: 50px;
}

.flexContainer {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.paragraphAboutMe {
    font-family: "Courier New" ,serif;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.recentProjectsHeader {
    font-size: 50px;
    padding-top: 3rem;
    font-family: "Courier New" ,serif;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.recentProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    flex-wrap: wrap;
    gap: 50px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 70px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    font-family: "Courier New" ,serif;
    font-weight: bold;
    font-size: 20px;
    width: 1350px;
    height: 80px;
    transition: height 1s ease 0s;
    border-radius: 10px 0px 40px 0px;
    box-shadow: 25px 19px 22px 10px rgba(217,207,237,0.72);
    -webkit-box-shadow: 25px 19px 22px 10px rgba(217,207,237,0.72);
    -moz-box-shadow: 25px 19px 22px 10px rgba(217,207,237,0.72);
    overflow: hidden;
}

.projects:hover {
    height: 300px;
}

.projects:hover img {
    transform: scale(1.1); /* Slightly enlarge image on hover */
}

.projects img {
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 50px;
    width: 100%; /* Ensure image scales with container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 1s ease 0s; /* Smoothly transition the size of */
}

footer {
    color: white;
    margin-top: 280px;
    display: flex;
    flex-wrap: wrap;
    border-top: 5px ridge #8E799A;
    border-radius: 11px 11px 0px 0px;
}

.contactme {
    display: flex;
    justify-content: center;
}

.contactMeHeader {
    font-size: 20px;
    font-family: "Courier New" ,sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 317px;
}

footer p {
    width: 90%;
    font-family: "Courier New" ,sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 317px;
    display: flex;
    flex-wrap: wrap;
}

.returnTop {
    margin-bottom: 1px;
    font-size: 50px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding-right: 315px;
}

.copyright {
    height: auto;
}

.copyright p {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 3rem;
}

.contactform {
    font-size: 20px;
    font-family: "Courier New" ,serif;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 640px) {

    * {
        box-sizing: border-box;
    }

    header {
        background-image: url("header.gif");
        background-size: cover;
        height: 350px;
        padding: 4rem;
    }

    .headerTitle {
        font-size: 40px;
        padding-left: 3px;
    }

    .headerParagraph {
        font-size: 15px;
        padding-left: 2px;
    }

    .mailMeLink {
        padding-left: 2px;
    }

    nav {
        padding-left: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }

    .navbar a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 10px;
    }

    .navbarLogo img {
        height: 150px;
        width: 80px;
    }

    .headerAboutMeFlexContainer {
        font-size: 30px;
        padding-top: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .profilepic {
        height: 200px;
        width: 130px;
        border-radius: 40%;
    }

    .flexContainer {
        font-size: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }

    .paragraphAboutMe {
        font-size: 20px;
        padding: 10px;
    }

    .recentProjectsHeader {
        font-size: 30px;
    }

    .projects {
        flex-direction: column;
        padding-top: 90px;
        padding-bottom: 5rem;
        padding-left: 3px;
        width: 100vw;
        height: 1px;
        transition: height 1s ease 0s;
        border-radius: 10px 0px 40px 0px;
        box-shadow: 25px 19px 22px 10px rgba(217, 207, 237, 0.72);
        -webkit-box-shadow: 25px 19px 22px 10px rgba(217, 207, 237, 0.72);
        -moz-box-shadow: 25px 19px 22px 10px rgba(217, 207, 237, 0.72);
        overflow: hidden;
    }

    footer {
        margin-top: 440px;
        width: 375px;
    }

    .contactMeHeader {
        padding-left: 95px;
    }

    footer p {
        padding-left: 3px;
    }

    .returnTop {
        padding-right: 19px;
    }
}
